#title {
  padding-top: 20px;
  padding-bottom: 20px;
}

#buttons-div-outer {
  padding-right: 0px;
  padding-bottom: 10px;
}

#buttons-div-inner {
  float: right;
}

.statistic-true {
  background-color: #209cee;
}

.statistic-false {
  background-color: #D3D3D3;
}
