{% extends 'base.html' %}

{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/x-scss" href="{% static 'dashboard/styles/index.scss' %}"/>
{% endblock css %}


{% block content %}
<div class="container" ng-app="statisticsmaps" ng-controller="statistics" ng-cloak>
  <div class="container" id="title">
    <div class="row" >
      <h2>World Maps for Visualizing Global Impact of COVID-19</h2>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-4">
      </div>
      <div class="col-8" id="buttons-div-outer">
        <div class="btn-group" role="group" id="buttons-div-inner">
          {% verbatim %}
          <button class="btn btn-primary {{ 'statistic-' + total_cases }}" ng-click="set_statistic_type('total_cases')">Total Cases</button>
          <button class="btn btn-primary {{ 'statistic-' + new_cases }}" ng-click="set_statistic_type('new_cases')">New Cases</button>
          <!-- <button class="btn btn-primary {{ 'statistic-' + total_deaths }}" ng-click="set_statistic_type('total_deaths')">Total Deaths</button>
          <button class="btn btn-primary {{ 'statistic-' +  new_deaths }}" ng-click="set_statistic_type('new_deaths')">New Deaths</button>
          <button class="btn btn-primary {{ 'statistic-' + active_cases }}" ng-click="set_statistic_type('active_cases')">Active Cases</button> -->
          {% endverbatim %}
        </div>
      </div>
    </div>
  </div>

  <div class="container" ng-cloak>
    <div class="row" ng-model="total_cases" ng-show="total_cases">
      {% include "dashboard/files/total_cases_map.html" %}
    </div>
    <div class="row" ng-model="new_cases" ng-show="new_cases">
      {% include "dashboard/files/new_cases_map.html" %}
    </div>
    <!-- <div class="row" ng-model="total_deaths" ng-show="total_deaths">
      {% include "dashboard/files/total_deaths_map.html" %}
    </div>
    <div class="row" ng-model="new_deaths" ng-show="new_deaths">
      {% include "dashboard/files/new_deaths_map.html" %}
    </div>
    <div class="row" ng-model="active_cases" ng-show="active_cases">
      {% include "dashboard/files/active_cases_map.html" %}
    </div> -->
  </div>

</div>

{% block js %}
{{ block.super }}
  <script src="{% static 'dashboard/scripts/dashboard_angular.js' %}"></script>
{% endblock js %}

{% endblock content %}
